<h3>New Sub</h3>

<form class="" action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Title
    <input type="text" name="sub[title]" value="">
  </label>

  <label>
    Description
    <input type="text" name="sub[description]" value="">
  </label>

  <input type="submit" name="" value="New Sub">
</form>
